.navbar-brand{
	padding: 15px 36px;
}
.makeModel{
	margin-bottom: 10%;
}
.chartsDepreciation table tr th{
	font-size: 13px;
	color: #403e5b;
	font-family: 'AvenirNextLTProRegular';
}
.chartsDepreciation table tr td{
	font-size: 15px;
	color: #403e5b;
	font-family: 'AvenirNextLTProRegular';
}
.charts div:nth-child(1){
	border-radius: 4px 0 0 4px;
}
.selectMV{
	border: solid 1px #403e5b!important;
	cursor: pointer;
}
.selectVariant{
	border: solid 1px #403e5b!important;
	opacity: 1!important;
}
.selectModel:hover, .selectVariant:hover{
	border: solid 1px #403e5b!important;
}
.selectModel:hover h4, .selectVariant:hover h4{
	opacity: 1!important;
}
.charts div:nth-child(2){
	border-radius: 0 4px  4px 0;
}
.clear{
	clear: both;
}
.charts:nth-child(2){
	margin-left: 0;
	margin-right: 0;
}
.variantDiv{
	margin-left: 0;
	margin-right: 0;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15), 0 8px 16px 0 rgba(0, 0, 0, 0.05); 
}
.variantDiv .chartsPart{
	box-shadow: none;
}
.charts:nth-child(2) .chartsPart{
	padding: 0!important;
	box-shadow: none;
	border:  solid 1px rgba(64, 62, 91, 0.25);
	
}
.charts:nth-child(2) .chartsPart h4{
	font-size: 17px!important;
	color: #403e5b;
	font-family: 'AvenirNextLTProRegular';
}
.chartsPart h4 a{
	color: #403e5b;
	text-decoration: none;
}
.selectModel{
	opacity: 0.5;

}
.variantDiv .chartsPart{
	padding-top: 4%;

}
.variantDiv{
	margin-top: 4%;
	border-radius: 10px;
}
.variantDiv h5{
	display: inline;
	font-size: 15px;
	font-family: 'AvenirNextLTProRegular';
}
.variantDiv h5 a{
	color: #403e5b;
	text-decoration: none;
}

.chartsPart{
	position: relative;
}
.detailsV{
	position: absolute;
    top: 5.5%;
    left: 74%;
    z-index: 999;
}
.detailsV img:nth-child(1){
	margin-right: 20px;
}
.chartsPart p{
	font-size: 17px;
	color: #403e5b;
	font-family: 'AvenirNextLTProMedium';
}
.selectedVariant{
	position: relative;
}
.selectedVariant span{
	position: absolute;
	font-size: 15px;
	color: #403e5b;
	font-family: 'AvenirNextLTProRegular';
}
.modelCh{
    top: 4%;
    left: 7%;
}
.variantCh{
    left: 7%;
    top: 31%;
}
.yearCh{
    left: 7%;
    top: 59%;

}
.selectedVariant select{
    width: 100%;
    height: 40px;
    border-radius: 2px;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
    padding-left: 64%;
    font-size: 15px;
	color: #403e5b;
	font-family: 'AvenirNextLTProRegular';
}
.selectedVariant button{
	border-radius: 2px;
	background-color: #009c63;
    width: 100%;
    height: 40px;
    outline: none;
    border: none;
    font-size: 14px;
	letter-spacing: 1px;
 	color: #ffffff;
 	font-family: 'AvenirNextLTProBold';
}
.selectedVariant{
	margin-top: 15.2%;
	opacity: 0.5;
}
.noneEdit{
	pointer-events: none;

}

.detailsCompair{
	margin-left: 3%;
}
.detailsCompair:nth-child(2){
	width: 46%;
}
.detailsCompair:nth-child(2) img{
	margin-left: 21px;
}
.selectedVariant:nth-child(3){
/* 	margin-top: 14%;
	 */	opacity: 1;
}
.chartsPart table tr th{
	font-size: 13px;
	color: #403e5b;
	font-family: 'AvenirNextLTProRegular';
}
.chartsPart table tr td{
	font-size: 15px;
	color: #403e5b;
	font-family: 'AvenirNextLTProRegular';
}
.chartsPart table tr td i{
	padding-left: 8%;
	cursor: pointer;
}
.secondP{
	margin-top: 60px;
	margin-left: 2%;
}

.charts{
	position: relative;
}
.variables{
	position: absolute;
	background: white;
	width: 38%;
    top: 78%;
    left: 51%;
    z-index: 999;
    padding:3% 4%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15), 0 8px 16px 0 rgba(0, 0, 0, 0.05);
}
.variables h5{
	display: block;
}
.activeCheck{
	color: #009c63;;
}
.variables p{
	font-size: 13px;
	color: #403e5b;
	font-family: 'AvenirNextLTProRegular';
}
.variables span{
	font-size: 13px!important;
	/* color: #403e5b!important; */
	color: #403e5b;
	font-family: 'AvenirNextLTProRegular'!important;
	margin-left: 5%!important;
}
.zaSort{
	border-bottom: solid 2px rgba(64, 62, 91, 0.25);
	padding-bottom: 13%;
}
input[type=checkbox]{
    margin: -1px 0 0!important;
    margin-left: 12%!important;
    vertical-align: middle!important;
}

/* Bebken begin*/

#selectAll{
	margin-left: 0!important;
}

.pDateToggle{
  	color: #009c63!important;
}


.secondToggleMonths{
	display: none;
}

.secondToggleMonths p{
	cursor:pointer!important;
  	margin-left: 15%!important;
}

.secondToggleMonths p:hover{
	color: #009c63!important;
}

.firstToggleMonths{
	display: none;
}

.firstToggleMonths p{
	cursor:pointer!important;
  	margin-left: 15%!important;
}

.firstToggleMonths p:hover{
	color: #009c63!important;
}

.variablesToggle {
	display:inline-block;
    cursor:pointer;
    margin-right:5%;
    margin-top:0.5%;
	height: 13px;
    width: 13px;
    border: solid 1px #403e5b;
    border-radius:2px;
}

.variablesToggle-borderColor{
	border: solid 1px #009c63;
}
.variablesToggle-pColor{
	user-select:none;
	color: #009c63!important;
}

.variablesToggle p:nth-child(1){
	user-select:none;
	display: none;
	position: relative;
	top: -40%;
	left:25%;
}
.variablesToggle p:nth-child(2){
	user-select:none;
	display: block;
	position: relative;
	top: -40%;
	left:5%;
}

.variables input[type="checkbox"] {
    height: 13px;
    width: 13px;
    vertical-align: middle;
    margin: 0 0.4em 0.4em 0;
    border: solid 1px #403e5b;
    -webkit-appearance: none;
    -webkit-transition: box-shadow 200ms;
  
}

/* checkbox checked */
.variables input[type="checkbox"]:checked:before {
content: '';
display: block;
width: 5px;
height: 5px;
background-color: #009c63;
border: solid 1px #009c63;
border-width: 0 1px 1px 0;
margin-left: 3px;
margin-top: 3px;
}

/* style label for disabled input */
.variables input:disabled + label {
opacity: .6;
cursor:default;
-webkit-user-select: none;
}

/* border radius for checkbox */
.variables input[type="checkbox"] {
    -webkit-border-radius:4px;
    border-radius:2px;
}

/* hover state */
.variables input[type="checkbox"]:not(:disabled):hover {
    border-color:#009c63;
    
}

/* active state */
.variables input[type="checkbox"]:active:not(:disabled) {
    border-color:#009c63;
}

/* focus state */
.variables input[type="checkbox"]:focus {
    outline:none;
  
}

/* input checked border color */
.variables input[type="checkbox"]:checked {
    border-color:#009c63;
    background-color: white;
}

/* disabled input */
.variables input:disabled {
opacity: .6;
box-shadow: none;
background: rgba(0, 0, 0, 0.1);
box-shadow:none;
}

/* Bebken end*/

@media (min-width: 992px) and (max-width: 1199px){
	.detailsCompair:nth-child(2) {
    	width: 44%;
	}
	.detailsCompair:nth-child(2) img {
    	margin-left: 7px;
	}
	.addCar{
		padding-top: 8.4%!important;
	}
	.table>tbody>tr>td{
		padding: 2px;
	}
	
	.table>tbody:first-child>tr>th{
		padding: 14px;
	}
	.chartsPart table tr td i{
		padding-left: 5%;
	}
	.detailsV img:nth-child(1) {
    	margin-right: 3px;
    	margin-left: 13px;
	}
}
@media (min-width: 768px) and (max-width: 991px){
	.detailsCompair:nth-child(2) img {
    	margin-left: 16px!important;
	}
	.table>tbody:first-child>tr>th{
		padding: 5px;
	}
	#myNavbar ul li a {
    	padding: 8px 10px!important;
	}
	#myNavbar li a img{
	    margin-top: -15%;
	} 
}
@media (min-width: 375px) and (max-width: 767px){
	.detailsCompair:nth-child(2) {
    	width: 34%;
	}
}

