#choosePlanFrame{
	display: none;
}
#paymentMethodFrame{
	display: none;
}

.profileSubscribe{
	background: white;
}
.profileSubscribe h3{
	font-size: 17px;
	color:  #403e5b!important;
	font-family: "AvenirNextLTProMedium"!important;
}
.profileSubscribe h2{
	color:  #403e5b;
	font-family: 'AvenirNextLTProBold';
	font-size: 32px!important;
}
.profileSubscribe h2 span{
	color:  #403e5b;
	font-family: 'AvenirNextLTProRegular';
	font-size: 30px!important;

}
.profileSubscribe p{
	color:  #403e5b;
	font-size: 15px;
}
.profileSubscribe button{
	font-family: 'AvenirNextLTProMedium'!important;
	border: solid 1px #009c63!important;
	background: white;
	color: #009c63!important;
}
.activePay:hover{
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15), 0 8px 16px 0 rgba(0, 0, 0, 0.05);
	background-color: #119a4f!important;
	border-radius: 10px;
	padding: 0;	
	cursor: pointer;
}
.activePay:hover h3 , .activePay:hover h2, .activePay:hover p, .activePay:hover h2 span{
	color: white!important;
}
.activePay:hover button{
	border: solid 1px #ffffff!important;
	background: #119a4f;
	font-size: 14px;
	font-weight: 500;
	color: #ffffff!important;
}
.activePayAnnual{
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15), 0 8px 16px 0 rgba(0, 0, 0, 0.05);
	background-color: #119a4f!important;
	border-radius: 10px;
	padding: 0;	
	cursor: pointer;
}
.activePayAnnual h3 , .activePayAnnual h2, .activePayAnnual p, .activePayAnnual h2 span{
	color: white!important;
}
.activePayAnnual button{
	border: solid 1px #ffffff!important;
	background: #119a4f;
	font-size: 14px;
	font-weight: 500;
	color: #ffffff!important;
}
.paymentFrame{
	padding:0px!important;
	background-color: white;
}
.paymentFrame span{
	font-family: 'AvenirNextLTProRegular';
  	font-size: 15px;
  	color: #403e5b;
  	margin:0;
  	margin-left: 8%;
}
.paymentFrame input{
	margin-left:7px;
	text-align: center;
	width: 37.3%!important;
	font-family: 'AvenirNextLTProRegular';
  	font-size: 15px!important;
  	color: #403e5b!important;
  	border: solid 1px rgba(64, 62, 91, 0.25)!important;
  	border-radius: 2px;
  	padding:8.5px 0;
}
.paymentTerms{
	padding:0!important;
	padding-left: 5%!important;
	padding-top: 10px!important;
}
.paymentTerms span{
	font-family: 'AvenirNextLTProRegular';
  	font-size: 15px;
  	color: #403e5b;
  	margin:0;
}
.payment{
	background-color: white;
	width: 88%;	
	border: 1px solid rgba(28, 28, 32, 0.25);
	border-radius: 10px;
	margin: 0 auto;
	padding: 14.5% 0;
	margin-bottom: 7.5%;
}

.cardExpirCSV div{
	width: 45%!important;
}
.cardExpirCSV input{
	text-align: center;
	width: 100%!important;
}
.fillFormFrame{
	padding:0 30px!important;
	width: 90%!important;
}
.fillForm input{
	font-family: 'AvenirNextLTProRegular';
  	font-size: 17px;
  	color: #403e5b;
  	border-radius: 2px!important;
  	border: solid 1px rgba(64, 62, 91, 0.25)!important;
  	padding:10px 15px;

}
.fillForm h3{
	font-family: 'AvenirNextLTProMedium';
	font-size: 17px;
	color: #403e5b;
}
.fillForm p{
	margin:0px!important;
	font-family: 'AvenirNextLTProRegular';
  	font-size: 13px;
  	color: rgba(49, 46, 73, 0.5);
}

.annualSub{
	background-color: white;
	width: 88%;	
	border: 1px solid rgba(28, 28, 32, 0.25);
	border-radius: 10px;
	margin: 0 auto;
}
.annualSubLarge{
	background-color: white;
	border: 1px solid rgba(28, 28, 32, 0.25);
	border-radius: 10px;
    width: 89%;
    margin: 0 auto;
    padding: 1.5px 0;
}
.borderDiv{
	border-right: solid 2px #D0CFD6;
}
.name{
	margin-left: 1%!important;
}
.btn-left{
	padding: 11px 9px;

}
.btnDef1{
	font-family: 'AvenirNextLTProMedium';
	border: solid 1px #d34836!important;
	background: white!important;
	color: #d34836!important;
	padding: 10px 20px;
	letter-spacing: 1px;
}
.btnDef2{
	font-family: 'AvenirNextLTProMedium';
	border: solid 1px #009c63!important;
	background: white!important;
	color: #009c63!important;
	padding: 10px 20px;
	margin-left: 20px;
	letter-spacing: 1px;
}
.personalInformation .profileSubscription h4{
	padding-left: 20px;
	font-family: 'AvenirNextLTProMedium';
	font-size: 17px;
	color: #403e5b;
	margin-top: 10px!important;
	margin-left: 0;
}
.profileSubscription h5{
	margin-top: 10px!important;
	font-family: 'AvenirNextLTProMedium';
	font-size: 15px;
	color:  #403e5b;
}
.profileSubscription p{
	padding-left: 20px;
	font-family: 'AvenirNextLTProRegular';
	font-size: 15px;
	color:  #403e5b;
}
.profileSubscription .stopRenewal{
	padding-left:20px;
}
/* .profileSubscription input{
	width: 15px!important;
	margin-right:10px;
} */
.ourPlans button{
    padding: 9px 19px!important;
}
.btn-right{
	margin-right: 0!important;
}
.btnDiv{
    padding-right: 4%;
}
.profileSubscription input[type="checkbox"] {
    height: 20px;
    width: 20px;
    vertical-align: middle;
    margin: 0 0.4em 0.4em 0;
    border: 0.5px solid #009c63;
  
    -webkit-appearance: none;
    -webkit-transition: box-shadow 200ms;
  
}

/* border radius for checkbox */
.profileSubscription input[type="checkbox"] {
    -webkit-border-radius:4px;
    border-radius:4px;
}

/* hover state */
.profileSubscription input[type="checkbox"]:not(:disabled):hover {
    border-color:#009c63;
    
}

/* active state */
.profileSubscription input[type="checkbox"]:active:not(:disabled) {
    border-color:#009c63;
}

/* focus state */
.profileSubscription input[type="checkbox"]:focus {
    outline:none;
  
}

/* input checked border color */
.profileSubscription input[type="checkbox"]:checked {
    border-color:#009c63;
    background-color: white;
}

/* radio checked */
.profileSubscription input[type="radio"]:checked:before {
display: block;
height: 0.4em;
width: 0.4em;
position: relative;
left: 0.4em;
top: 0.4em;
background: #009c63;
border-radius: 100%;
content: '';
}

/* checkbox checked */
.profileSubscription input[type="checkbox"]:checked:before {
content: '';
display: block;
width: 3px;
height: 9px;
border: solid #009c63;
border-width: 0 1px 1px 0;
-webkit-transform: rotate(45deg);
transform: rotate(45deg);
margin-left: 7px;
margin-top: 4px;
}

/* disabled input */
.profileSubscription input:disabled {
opacity: .6;
box-shadow: none;
background: rgba(0, 0, 0, 0.1);
box-shadow:none;
}

/* style label for disabled input */
.profileSubscription input:disabled + label {
opacity: .6;
cursor:default;
-webkit-user-select: none;
}
@media (min-width: 1200px) and (max-width: 1900px){
	.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header{
		margin-left: 15px!important;
		margin-right: 15px!important;
	}
}
@media (min-width: 992px) and (max-width: 1199px){
	.CSV{
		padding-bottom: 16%;
	}
	.paymentFrame span{
	    display: block;
    	margin: 0 auto;
    	text-align: center;
	    margin-bottom: 5%;
	}
	.paymentFrame input{
		margin: 0 auto;
    	display: block;
	}
	.payment{
		margin-bottom: 16.5%;
	}
}
@media (min-width: 768px) and (max-width: 991px){
	.CSV{
		padding-bottom: 16%;
	}
	.payment{
		margin-bottom: 14.5%;
	}
}
@media (min-width: 375px) and (max-width: 767px){
	.payment{
	    margin-bottom: 7%;
	}
}